<footer class="page-footer blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text footer-author-name">Aditya Pathak</h5>
          <div class="row">
            <div class="col">
              <img class="footer-ind-img" src="https://media.giphy.com/media/efBwHBniSB5ROsJ1py/source.gif" alt="">
            </div>
          </div>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">My Latest Thoughts</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      No © copyright issues. 
      <a class="grey-text text-lighten-4 right" href="#!">Made with <span class="heart">❤</span> in India</a>
      </div>
    </div>
</footer>