{% extends 'base.html' %}
{% load static %}

{% block title %}
    Aditya Pathak
{% endblock %}

{% block css-content %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Project Section -->
    {% include 'project.html' %}

    <!-- Achievement -->
    {% include 'achievement.html' %}

    <!-- Qualification -->

    <!-- Experience -->

    <!-- Certificates -->

    <!-- Contact Me -->

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Social Media -->
    {% include 'socialmedia.html' %}

{% endblock %}